@import url('https://fonts.googleapis.com/css?family=Nova+Mono');

body {
  overflow-x: hidden;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-family: 'Nova Mono', monospace;
  color: white;
  text-transform: capitalize;

}
.btn {
  outline: none;
  border: none;
  transition: 0.5s all ease-in-out;
  background:   rgba(4.7, 66.7, 100);
  border-radius: 15px;
}
.btn-shawdow {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
    
   
}
/* .btn-shawdow:hover {
    box-shadow: none;
} */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 90vh;
}
.box {
  display: flex;
  justify-content: space-around;
  min-width: 50vw;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background: #118ACB;
}
.pad {
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 80px 80px 80px;
  grid-gap: 40px;
  padding: 10px;
  /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
}
.pad .btn {
  width: 80px;
  height: 80px;
}

.controller {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#display {
  width: 150px;
  background:   rgba(4.7, 66.7, 100);  height: 30px;
  display: inline-block;
  margin: 20px;
  
border-radius: 15px;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}
.bank p,
.power-controller p,
.volume input,
#display p {
  /* box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19); */
    background: rgba(0, 0, 0, 0) !important;
    font-weight: bolder; 
}
.contact-float {
  position: fixed;
  display: flex;
  flex-direction: column;
    bottom: 5%;
    right: 5%;
    z-index: 7;
    float: right;
    color: #054364;
}
.contact-float span {
  display: block;
}
.contact {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #054364;
    font-family: monospace;
    text-decoration: none;
    text-align: center;
   
}

.contact::after {
    content: "";
  display: block;
  width: 0;
 margin: auto;
  height: 2px;
  background: #1186C5;
  transition: width 0.3s;
}

.contact:hover::after {
    width: 100%;
    transition: width 0.3s;
    
  }